@model PointSettings
           
<section class="panel">
    <header class="panel-heading"><h3>Укажите расположение склада:</h3></header>
    <div class="panel-body">
        <div id="map" style="width: 100%; height: 587px"></div>
    </div>
</section>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
    var myMap = null;
    var myPlacemark = null;
    ymaps.ready(initMap);

    function initMap() {
        myMap = new ymaps.Map('map', {
            // При инициализации карты обязательно нужно указать
            // её центр и коэффициент масштабирования.
            center: [$('input[name="@(Model.LatInputName)"]').val().replace(',', '.') * 1, $('input[name="@(Model.LngInputName)"]').val().replace(',', '.') * 1], // Москва
            zoom: 11
        });
        myMap.controls.add('zoomControl');
        myPlacemark = new ymaps.Placemark([$('input[name="@(Model.LatInputName)"]').val().replace(',', '.') * 1, $('input[name="@(Model.LngInputName)"]').val().replace(',', '.') * 1], null, { draggable: true });
        myMap.geoObjects.add(myPlacemark);
        myPlacemark.events.add('dragend', function (origEvent, sourceEvent) {
            loadInputs();
        });

    }

    function loadFields(nearest) {
        $('input[name="@(Model.RegionName)"]').val(nearest.properties.get('metaDataProperty.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.AdministrativeAreaName'));
        $('input[name="@(Model.DistrictName)"]').val(nearest.properties.get('metaDataProperty.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.SubAdministrativeAreaName'));
        $('input[name="@(Model.TownName)"]').val(nearest.properties.get('metaDataProperty.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality.LocalityName'));
        $('input[name="@(Model.StreetName)"]').val(nearest.properties.get('metaDataProperty.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality.Thoroughfare.ThoroughfareName'));
        $('input[name="@(Model.HouseName)"]').val(nearest.properties.get('metaDataProperty.GeocoderMetaData.AddressDetails.Country.AdministrativeArea.SubAdministrativeArea.Locality.Thoroughfare.Premise.PremiseNumber'));
    }


    function loadInputs() {
        var coordinates = myPlacemark.geometry.getCoordinates();

        var myReverseGeocoder = ymaps.geocode(coordinates, { kind: 'house' });
        
        myReverseGeocoder.then(
            function (res) {
                if (res.geoObjects.getLength() > 0) {
                    
                    var nearest = res.geoObjects.get(0);
                    loadFields(nearest);

                } else {

                    myReverseGeocoder = ymaps.geocode(coordinates, { kind: 'locality' });
                    myReverseGeocoder.then(

                        function (res) {
                            
                            if (res.geoObjects.getLength() > 0) {
                                var nearest = res.geoObjects.get(0);
                                loadFields(nearest);
                            }
                        });
                }

            },
            function (err) {
                alert('Ошибка');
            }
        );

        $('input[name="@(Model.LatInputName)"]').val(coordinates[0]);
        $('input[name="@(Model.LatInputName)"]').val($('input[name="@(Model.LatInputName)"]').val().replace('.', ','));
        $('input[name="@(Model.LngInputName)"]').val(coordinates[1]);
        $('input[name="@(Model.LngInputName)"]').val($('input[name="@(Model.LngInputName)"]').val().replace('.', ','));
    }

</script>