@model SavePassModel
<div id="RegBlockPartnerPassword">
    @using (Ajax.BeginForm("RegBlockPartnerPasswordPartial", "Home", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "RegBlockPartnerPassword", HttpMethod = "POST", OnComplete = "initUI();"}))
    {
        <p>Вы успешно зарегистрировались в системе повышения качества обслуживания</p>
        <p>Ваш персональный номер в системе: <b>@Model.DigitID</b></p>
        <p>
            <input type="password" class="form-control" value="@Model.Password" placeholder="Укажите пароль для входа в систему" name="Password">
        </p>
        <p>
            <input type="password" class="form-control" value="@Model.PasswordAgain" placeholder="Повторите пароль" name="PasswordAgain">
        </p>
        if (Model.Message.IsFilled())
        {
            <p class="error">@Html.Raw(Model.Message)</p>
        }
        if (Model.RedirectURL.IsFilled())
        {
            <script type="text/javascript">
                                document.location.href = '@(Model.RedirectURL)';
            </script>
        }
        <p>
            <button class="btn btn-primary" type="submit">Сохранить пароль</button>
        </p>
    }
</div>