@model RegisterModelPartnerStep1
<div id="RegBlockPartner" class="reg-block" arg="1" style="@(Model.Type==1|| Model.IsPost? "":"display:none")">
    @using (Ajax.BeginForm("RegBlockPartner", "Home", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "RegBlockPartner", InsertionMode = InsertionMode.Replace, OnComplete = "initUI();" }, new { @class = "form-login-part form-login-first" }))
    {
        <h2 class="form-login-heading">Регистрация в системе</h2>

        <div class="login-wrap">
            @if (!Model.Message.IsFilled())
            {
                <p>Введите ваши данные</p>
                <div class="radio">
                    <label>
                        <input type="radio" checked="checked" value="1" name="Type">
                        Интернет-магазин
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="2" name="Type" onclick="setRegForm(this); return false;">
                        Покупатель
                    </label>
                </div>
                <input type="text" class="form-control @(Model.IsPost && Model.Surname.IsNullOrEmpty()? "error-field":"")" placeholder="Фамилия" name="Surname" value="@Model.Surname">
                <input type="text" class="form-control @(Model.IsPost && Model.Name.IsNullOrEmpty()? "error-field":"")" placeholder="Имя" name="Name" value="@Model.Name">
                <input type="text" class="form-control" placeholder="Отчество" name="Patrinomic" value="@Model.Patrinomic">
                <input type="email" class="form-control @((Model.IsPost && (Model.Email.IsNullOrEmpty() || !Model.Email.IsMailAdress() ))? "error-field":"")" placeholder="Email" name="Email" value="@Model.Email">
                <input type="phone" data-mask="(999) 999-99-99" class="form-control @((Model.IsPost && Model.Phone.IsNullOrEmpty())? "error-field":"")" placeholder="Телефон" name="Phone" value="@Model.Phone">
                <label class="checkbox @(Model.IsPost && !Model.Agree ? "error-box" : "")" style="font-size: 13px">
                    @Html.CheckBox("Agree", Model.Agree)
                    <span>Нажимая на кнопку «Зарегистрироваться», я соглашаюсь с публичной офертой и правилами сайта.</span>
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Зарегистрироваться</button>
            }
            else
            {
                <div class="registration">
                    @Html.Raw(Model.Message)
                </div>
            }
        </div>
    }
</div>