@model Order
<div id="MarkDialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">Оценка заказа #@Model.OrderNumberOrID</h4>
            </div>
            <div class="modal-body">
                @if (Model.ID > 0)
                {
                    <div class="mark-modal-left">
                        <h3>
                            Покупатель
                        </h3>
                        <div class="info-block">
                            <p>
                                <span>
                                    ФИО:
                                </span>
                                @Model.Consumer.FullName
                            </p>
                            <p>
                                <span>
                                    Телефон:
                                </span>
                                @Model.Consumer.Phone
                            </p>
                            @if (Model.Consumer.AddPhone.IsFilled())
                            {
                                <p>
                                    <span>
                                        Доп. телефон:
                                    </span>
                                    @Model.Consumer.AddPhone
                                </p>
                            }
                            @if (Model.Consumer.Email.IsFilled())
                            {
                                <p>
                                    <span>
                                        Email:
                                    </span>
                                    @Model.Consumer.Email
                                </p>
                            }
                        </div>
                        <h3>
                            Заказанные товары
                        </h3>
                        <div class="info-block">
                            <p>
                                @Model.OrderedProductsList
                            </p>

                        </div>
                    </div>
                    <div class="mark-modal-right">
                        @Html.Action("MarkForm", new { ID = Model.ID, Popup = true })
                    </div>
                }
                else
                {
                    <p>Этот заказ уже оценен</p>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal-dialog -->
