@model IEnumerable<SelectListItem>
@{
    var a = ViewContext.ParentActionViewContext.RouteData.Values["action"].ToString();
    var c = ViewContext.ParentActionViewContext.RouteData.Values["controller"].ToString();
    var helper = new PermissionHelper();
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Выбор магазина
            </header>
            <div class="panel-body">

                <div class="form-group">
                    <select class="form-control" url="@(Url.Action(a, c))" onchange="document.location.href=$(this).attr('url')+'?ShopID='+$(this).val()">
                        @foreach (var shop in Model)
                        {
                            <option value="@shop.Value" @(shop.Selected ? "selected" : "")>@shop.Text</option>
                        }
                    </select>
                </div>
                @if (helper.HasPermission(Permissions.ShopAdding))
                {
                    @*<a href="@Url.Action("Edit", "Shop")" class="btn btn-info">Добавить новый магазин</a>*@
                }
            </div>
        </section>
    </div>
</div>
