@model List<Worker>

@{
    ViewBag.Title = "Сотрудники доставки";
    Layout = "~/Views/Shared/MainPage.cshtml";
    var helper = new PermissionHelper();
}

@section scripts{
    <script src="/Content/assets/advanced-datatable/media/js/jquery.dataTables_min.js"></script>
    <script src="/Content/assets/data-tables/DT_bootstrap.js"></script>

    <script type="text/javascript">
        $('#example').dataTable({
            stateSave: true,
            "aaSorting": [[0, "desc"]],
            "oLanguage": {
                "sProcessing": "Подождите...",
                "sLengthMenu": "Показать _MENU_ записей",
                "sZeroRecords": "Записи отсутствуют.",
                "sInfo": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "sInfoEmpty": "Записи с 0 до 0 из 0 записей",
                "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                "sInfoPostFix": "",
                "sSearch": "Поиск:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "Первая",
                    "sPrevious": "Предыдущая",
                    "sNext": "Следующая",
                    "sLast": "Последняя"
                },
                "oAria": {
                    "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sSortDescending": ": активировать для сортировки столбцов по убыванию"
                }
            },

        });
    </script>
}

@if (helper.HasPermission(Permissions.Workers))
{
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <a href="@Url.Action("EditWorker", "Delivery")" class="btn btn-success">Добавить сотрудника</a>
                    <br />
                    <br />
                    <div class="adv-table">
                        <table class="display table table-bordered table-striped" id="example">
                            <thead>
                                <tr>
                                    <th>ФИО</th>
                                    <th>Должность</th>
                                    <th>Телефон</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeA">
                                        
                                        <td><a href="@Url.Action("EditWorker", "Delivery", new{ID = item.ID})">@item.Name</a></td>
                                        <td>@item.Job.Name</td>
                                        <td>@item.Phone</td>
                                        <td class="center"><a href="@Url.Action("DeleteWorker", "Delivery", new {ID = item.ID})">Удалить</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ФИО</th>
                                    <th>Должность</th>
                                    <th>Телефон</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
}

