@model List<ShopProduct>
@{
    var currentUser = ((BaseController)ViewContext.Controller).CurrentUser ?? new User() { ID = 0 };
    var shopListPlane = Model.Select(x => x.ShopID).JoinToString(",");

}
<div class="modal fade bs-example-modal-sm" id="shoplist" tabindex="-1" data-backdrop="static"
     data-keyboard="false" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="reloadShopList();" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">Список магазинов, в которых доступен товар:</h4>
            </div>
            <div class="modal-body">
                <input id="ProductIDForShops" type="hidden" value="@ViewBag.ProductID"/>
                <input id='ShopListPlane' name="GraphListPlane" type="hidden" value="@shopListPlane">
                <select id='ShopList' name="ShopList" multiple='multiple'>
                    @foreach (var shop in currentUser.AvailShopList)
                    {
                        <option value='@shop.ID' @(Model.Any(x=> x.ShopID == shop.ID) ? "selected" : "")>@shop.Name</option>
                    }
                </select>
                <br/>
                <button onclick="saveShopRels();" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </div>
</div>
